* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION 1 STARTS HERE */

.section-1 {
  text-align: center;
}
.section-1 h1 {
  text-decoration: underline;
  background: linear-gradient(
    to right,
    red,
    green,
    rgb(17, 200, 17),
    lightgreen,
    yellow
  );
}
.navigation {
  width: 60%;
  margin: 30px auto;
  background: rgb(181, 217, 231);
  border: 5px solid red;
  border-radius: 10px;
  font-size: 1.1em;
}

.offerings {
  background: aquamarine;
  border: 5px groove forestgreen;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.offerings div {
  background: cyan;
  border: 3px solid forestgreen;
  border-radius: 10px;
  height: 120px;
  width: 440px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 25px;
}

/* SECTION 2 STARTS HERE */

.section-2 {
  margin-top: 20px;
  text-align: center;
}
.section-2 h2 {
  text-decoration: underline red;
  background: linear-gradient(to right, red, yellow, red);
  height: 50px;
  margin-bottom: 20px;
}
.students {
  display: flex;
  align-items: center;
  background: radial-gradient(blue, rgb(177, 241, 177));
  height: 300px;
  border: 3px solid forestgreen;
  padding-left: 2%;
}
.students div {
  background-color: yellow;
  color: brown;
  border: 3px solid red;
  border-radius: 10px;
  font-size: 23px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 3rem;
  width: 280px;
  height: 150px;
  margin-right: 4%;
}
.students p {
  margin-top: -0.7rem;
}

/* SECTION 3 STARTS HERE */

.section-3 {
  margin-top: 50px;
  color: white;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
.section-3 h1 {
  background: rgb(251, 81, 81);
  text-align: center;
  letter-spacing: 0.1rem;
  padding-bottom: 20px;
}
.left-area {
  float: left;
  width: 92%;
  font-weight: bold;
  padding-left: 5px;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.boxes div {
  margin-top: 20px;
}

.box-a {
  background: rgb(103, 205, 117);
  font-size: 40px;
  margin-right: 25px;
  text-align: center;
  padding: 0px 30px;
}
.box-b {
  background: rgb(55, 155, 255);
  font-size: 35px;
  margin-right: 25px;
}
.box-c {
  background: rgb(96, 96, 238);
  font-size: 30px;
  text-align: left;
  padding-right: 60px;
}
.box-d {
  background: rgb(250, 166, 63);
  font-size: 30px;
  grid-column: 1/4;
  height: 180px;
}

.right-area {
  float: right;
  clear: right;
  box-sizing: border-box;
  width: 6%;
  margin-top: 20px;
  background: rgb(56, 53, 53);
  font-size: 23px;
  height: 303px;
  padding-left: 4px;
}

.best {
  color: black;
  background: rgb(147, 217, 219);
  text-align: center;
  margin: 20px 0px;
  height: 35px;
}
.best h1 {
  position: relative;
  top: 5px;
}
